* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    color: #eff5f5;
    padding: 0;
    margin: 0;
}

body {
    background-color: #497174;
    padding: 1.2rem;
}

section {
    margin-bottom: 2.6rem;
}

section > ul {
    margin-left: 1.2rem;
}

section > ul > li > ul {
    margin-left: 1.2rem;
}

section > ul > li > ul > li {
    list-style: circle;
}

img {
    position: relative;
    z-index: 100;
}

article {
    margin-bottom: 4rem;
}

article > div > figure > a > img {
    width: 44ch;
    transition: transform 0.2s;
}

article > div > figure > a > img:hover {
    transform: scale(1.05);
}

article > div > div > figure > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

article > div > div > figure {
    margin-top: 1.4rem;
}

article > div > div > figure > div > img {
    width: 10ch;
    margin-top: 1.4rem;
}

article > div > figure > img,
article > div > div > p {
    margin-bottom: 1.4rem;
}

h3 {
    margin-bottom: 1.4rem;
}

h1 {
    font-size: 2.6rem;
    margin-bottom: 1.4rem;
}
h2 {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
}
h1,
h2 {
    color: #eb6440;
    position: relative;
    z-index: 100;
}

p {
    margin-bottom: 1.2rem;
    position: relative;
    z-index: 100;
}

strong {
    color: #d6e4e5;
    position: relative;
    z-index: 100;
}

li {
    margin-bottom: 1.2rem;
    position: relative;
    z-index: 100;
}

a:hover {
    color: #eb6440;
}

address {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
}

#greet {
    font-size: 2.6rem;
    display: block;
    margin: 1.6rem 0;
    position: relative;
    z-index: 100;
}

.profile-picture {
    width: 6ch;
    height: 6ch;
    border-radius: 6ch;
    position: relative;
    z-index: 100;
}

.shape1 {
    width: 600px;
    height: 450px;
    background-color: transparent;
    border: 2px solid #eb6440;
    transform: rotate(60deg);
    position: fixed;
    right: -175px;
    top: -100px;
    z-index: 90;
}

.shape2 {
    width: 600px;
    height: 450px;
    background-color: transparent;
    border: 2px solid gray;
    transform: rotate(20deg);
    position: fixed;
    left: -300px;
    bottom: -250px;
    z-index: 90;
}

@media (min-width: 992px) {
    body {
        padding: 1.2rem 4rem;
    }

    section {
        padding: 0 5rem;
    }

    .profile-section {
        display: flex;
        gap: 50px;
        padding: 0;
    }

    #greet {
        margin-top: 0;
    }

    article > div {
        display: flex;
        gap: 50px;
    }

    footer > h2,
    footer > address {
        padding: 0 5rem;
    }
}

@media (min-width: 1200px) {
    body {
        padding: 1.2rem 12rem;
    }
}
